html,
body {
  height: 100%
}

header {
  width: 100%;
  height: 10%;
  background: #f36c00;
  padding: 20px;
}

nav li {
  display: inline;
  padding: 20px;
}

nav li a {
  color: white;
  font-weight: bold;
}

nav li a:hover {
  color: #333333;
  text-decoration: none;
}

div.form-content {
  margin-top: 50px;
}

div.centered {
  text-align: center;
}

#hourglass {
  height: 50px;
}


.form-group {
  margin-bottom: 2rem;
}

#status {
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.hidden {
  display: none;
}
/* carousel  */
.carousel-control-next{
  color:black; 
}
